p {
    font-family: Lato;
 }
  
.card-body{
    position: relative;
    float: left;
    margin-left: 35%;
    min-height: 400px;
    width: 30%;
 }
  
 .loading{
    color:white;    
    padding-top: 50px;
 }
