.example-spacer {
    flex: 1 1 auto;
  }

.avatar1{  
    background:url('/assets/Logito.jpg');
    background-size: contain;    
    //object-fit: cover;
    //height: auto;
    display: block;
    width: 48px;
    height: 50px;    
}
.avatar2{  
    background:url('/assets/logito2.jpg');    
    background-size: cover;
    
    width: 250px;
    height: 50px;    
}